@inject NavigationManager NavigationManager

<div class="card" style="width: 18rem;">
    <div class="px-4 pt-4 d-flex justify-content-center">
        <img src="@($"/images/{GetImageName(Asset.Name)}.png")" alt="Logo" width="80">
    </div>

    <div class="card-body vstack gap-4">
        <div>
            <EditForm Model="Asset" FormName="@($"form-asset-like-{Asset.AssetId}")" class="position-absolute top-0 end-0 me-2 mt-2" OnSubmit="ChangeAssetStatus">
                <button class="btn btn-link" type="submit">
                    @if (Asset.Liked)
                    {
                        <i class="bi bi-hand-thumbs-down-fill"></i>
                    }
                    else
                    {
                        <i class="bi bi-hand-thumbs-up-fill"></i>
                    }
                </button>
            </EditForm>
        </div>

        <div>
            <div>Name: @Asset.Name</div>
            <div>Price: @Asset.Price</div>
            <div>Liked: @Asset.Liked</div>
        </div>

        <div class="d-grid mt-auto gap-2">
            <a href="/assets/@Asset.AssetId" class="btn btn-primary">Edit</a>
            <EditForm Model="Asset" FormName="@($"form-asset-{Asset.AssetId}")" OnValidSubmit="@(() => { DeleteAsset(Asset.AssetId); })">
                <button type="submit" class="btn btn-danger w-100">Delete</button>
            </EditForm>
        </div>
    </div>
</div>

@code {
    [Parameter] public required Asset Asset { get; set; }

    private void ChangeAssetStatus()
    {
        Asset.Liked = !Asset.Liked;
    }

    private string GetImageName(string input)
    {
        if (string.IsNullOrEmpty(input))
        {
            return input;
        }

        return input.Replace(" ", "_").ToLower();
    }

    private void DeleteAsset(int assetId)
    {
        if (assetId > 0)
        {
            AssetsRepository.DeleteAsset(assetId);
            NavigationManager.Refresh();
        }
    }

}