@inject NavigationManager NavigationManager

<div class="card" style="width: 18rem;">
    <div class="px-4 pt-4 d-flex justify-content-center">
        <img src="@($"/images/{GetImageName(Asset.Name)}.png")" alt="Logo" width="80">
    </div>

    <div class="card-body vstack gap-4">
        <LikeForm Asset="Asset" @rendermode="InteractiveServer"/>

        <div>
            <div>Name: @Asset.Name</div>
            <div>Price: @Asset.Price</div>
            <div>Liked: @Asset.Liked</div>
        </div>

        <div class="d-grid mt-auto gap-2">
            <a href="/assets/@Asset.AssetId" class="btn btn-primary">Edit</a>
            <button type="submit" class="btn btn-danger w-100" @onclick="@(() => DeleteAsset.InvokeAsync())">Delete</button>
        </div>
    </div>
</div>

@code {
    [Parameter] 
    public required Asset Asset { get; set; }

    [Parameter]
    public EventCallback DeleteAsset { get; set; }

    private string GetImageName(string input)
    {
        if (string.IsNullOrEmpty(input))
        {
            return input;
        }

        return input.Replace(" ", "_").ToLower();
    }
    
}